
<footer id="footer" class="footer">
  <div class="footer-container-1">
    <div class="block block1">
      <span class="block1-text">LET'S HEAD INTO A BEAUTIFULL CREATION</span>
      <div class="block1-1">
        <input type="email" placeholder="E-Mail">
        <button class="button">SUBSCRIBE</button>
      </div>
  
    </div>
  
    <div class="block block2">
      <table class="styled-table">
        <thead>
          <tr class="row1">
            <th>INFORMATION</th>
            <th>OUR SOCIAL</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>SHOP</td>
            <td><a href="#">FACEBOOK</a></td>
            <td>TERMS</td>
          </tr>
          <tr>
            <td>INFO</td>
            <td><a href="#">INSTAGRAM</a></td>
            <td>PRIVACY</td>
          </tr>
          <tr>
            <td></td>
            <td><a href="#">E-MAIL</a></td>
            <td>RETURNS</td>
          </tr>
          <tr>
            <td></td>
            <td><a href="#">WHATSAPP</a></td>
            <td></td>
          </tr>
        </tbody>
      </table>
  
    </div>
  </div>

  <div class="block block3">
    <img src="/media/image/footerimg.png" alt="footimg">
    <span>LET'S CONN</span><span class="black-white1">E</span><span class="black-white2">C</span><span class="black-white3">T</span>
    
      
   

  </div>


  <div class="block block4">
    <p>&copy; 2024 PLAN B CLO. All rights reserved.</p>
  </div>

</footer>


<!-- <script src="/js/main.js"></script> -->
<link rel="stylesheet" href="/css/footer.css">
</body>
</html>