<%- include('topbar')%>
<link rel="stylesheet" href="/css/home.css">

<div class="container container-1">


      <!-- left image -->
    <div class="img2">
        <!-- <img class="img2-img" src="/media/image/webimg5.jpg"> -->
        <img class="img2-img" src="/media/image/webimg5.jpg">
        <!-- circle text -->
       <div class="circle-text">
        <div class="text circle-text1">
            <span>Since <br> 2024</span>
        </div>
       </div>
    </div>


    <!-- middle image -->
    <div class="img1">
        <img class="img1-img" src="/media/image/webimg3.jpg">
        <div class=" text img1-text1">
            <span>TO BE ONE OF <br> A KIND</span>
        </div>
        <div class="text img1-text2">
            <span>The Philosophy Of Indian Fashion</span>
        </div>
    </div>

  

     <!-- right image -->
      <div class="img3">
        <div class="text img3-text1">
            <span>THE FUTURE OF FASHION</span>
            <br>
            <span>Founded by </span>
            <br>
            <span>A GREAT Fashion Designer</span>
        </div>
        <img class="img3-img" src="/media/image/webimg4.jpg" alt="Right Image">
      </div>

      
</div>



<div class="container container2">
    <div class="c2-img1">
        <img class="c2-img1-img" src="/media/image/webimg2.jpg">
    </div>
    <div class="c2-img2">
        <img class="c2-img2-img" src="/media/image/webimg7.jpg">
        <span class="text c2-img2-text">&nbsp;&nbsp;&nbsp;&nbsp;   The Art Of Fine Designing Is A Tradition Born Out Of Dedication To Craft And Beauty, Passed Down Through Generations. At Brioni, Our Reputation For This Artisanal Expertise Is At The Heart Of Who We Are.</span>
    </div>
    <div class="c2-img3">
        <span class="text c2-img3-text">&nbsp;&nbsp;&nbsp;&nbsp;WE PROVIDE AN <br> UNFORGETFULL DRESSING <br> EXPERIENCE FOR YOU</span>
        <img class="c2-img3-img" src="/media/image/webimg9.jpg">
        <span class="text c2-img3-text2">( NEW COLLECTION )</span>

    </div>
</div>

<div class="container container-3">
    <div class="brand-name">
        <span class="text brand-name-text p">P</span>
        <span class="text brand-name-text l">L</span>
        <span class="text brand-name-text a">A</span>
        <span class="text brand-name-text n">N</span>
        <span class="text brand-name-text b">B</span>
        <span class="text brand-name-text c">C</span>
        <span class="text brand-name-text l2">L</span>
        <span class="text brand-name-text o">O</span>
    </div>
</div>











<%- include('footbar') %>